/* footer */

.page__footer {
    padding: 20px;
    display: flex;
    background-color: #fefae5;  
    justify-content: space-between;
    font-size: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
}

.page__footer__social {
    display: flex;
    padding-top: 5px;
}

.page__footer__image {
    height: 100px;
    align-self: center;
}

@media (max-width: 900px) {
    .page__footer {
        font-size: 18px;
    } 
    .page__footer__image {
        height: 50px;
    }
}

@media (max-width: 600px) {
    .page__footer {
        font-size: 16px;
    } 
    .page__footer__image {
        height: 50px;
    }
}