/* Header */
.page__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fefae5;    
  }
  
  .page__header__image {
    height: 215px;
    padding: 10px;
    cursor: pointer;
  }

@media screen and (max-width: 900px){
  .page__header {
    display: none;
  }
}